
.control-container.controls-x-pos::before,
.control-container.controls-y-pos::before {
    background-image: url('../icons/horizontal.png');
}
.control-container.controls-y-pos::before {
    transform: rotateZ(90deg);
}
.control-container.controls-scale::before {
    background-image: url('../icons/circle.png');
    background-size: 80%;
}

.control-container.controls-scale::after {
    background-image: url('../icons/circle.png');
}

.control-container.controls-rotate::before {
    background-image: url('../icons/rotate.png');
}

.control-container.controls-bg-orientation::before {
    background-image: url('../icons/landscape.png');
}
.control-container.controls-bg-orientation::after {
    content: unset;
}

#bg-generator-container {
    transition: all 1s ease-in-out;
}

.background-container {
    position: relative;
    width: 100%;
    border-radius: 1rem;
    min-height: 500px;
    border: 2px #aaa dashed;
    overflow: hidden;
}

.background-container .blob {
    animation: none;
}

.small-blob-container {
    height: auto;
}

.selected-blob {
    border: 2px var(--color-dark-grey) solid;
    box-shadow: rgba(0,0,0,0.01) 0px 1px 0px,rgba(0,0,0,0.025) 0px 0px 8px,rgba(0,0,0,0.075) 0px 20px 30px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-light-beige);
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px var(--color-green) solid;
    transition: all .4s ease-in-out;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: var(--color-green);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--color-green);
}

input:checked + .slider:before {
    background-color: var(--color-light-beige);
}

input:checked + .slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

