@font-face {
    font-family: Inter;
    font-weight: 200;
    src: url(../fonts/Inter/Inter-ExtraLight.ttf);
}

@font-face {
    font-family: Inter;
    font-weight: 300;
    src: url(../fonts/Inter/Inter-Light.ttf);
}

@font-face {
    font-family: Inter;
    font-weight: 400;
    src: url(../fonts/Inter/Inter-Medium.ttf);
}

@font-face {
    font-family: Inter;
    font-weight: 500;
    src: url(../fonts/Inter/Inter-Regular.ttf);
}

@font-face {
    font-family: Inter;
    font-weight: 600;
    src: url(../fonts/Inter/Inter-SemiBold.ttf);
}

@font-face {
    font-family: Inter;
    font-weight: 300;
    src: url(../fonts/Inter/Inter-Bold.ttf);
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}

/* Grid system */
.f-col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.f-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.ai-c {
    align-items: center;
}

.jc-fs {
    justify-content: flex-start;
}

.jc-c {
    justify-content: center;
}

.jc-se {
    justify-content: space-evenly;
}

.jc-sb {
    justify-content: space-between;
}

.f-row > .col-4,
.f-col > .col-4
 {
    width: 33.33%;
}

.f-row > .col-5,
.f-col > .col-5
 {
    width: 41.66%;
}

.f-row > .col-6,
.f-col > .col-6
 {
    width: 50%;
}

.f-row > .col-7,
.f-col > .col-7 {
    width: 58.33%;
}

.f-row > .col-8,
.f-col > .col-8
 {
    width: 66.66%;
}


.f-row > .col,
.f-col > .col
 {
    width: 100%;
}

/* Content container */
.content-container {
    gap: 3rem;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    min-height: 100vh;
}

/* Buttons */
button:hover {
    cursor: pointer;
}

.btn-rounded {
    border: none;
    border-radius: 50%;
    padding: .75rem;
    background-color: var(--color-green);
    width: 3.5rem;
    height: 3.5rem; 
}

.btn-filled {
    border: none;
    border-radius: 1rem;
    padding: .75rem;
    background-color: var(--color-green);
    padding: 1.5rem 1rem; 
    color: var(--color-white);
}

.btn-transparent,
.btn-transparent:hover {
    border: none;
    background-color: transparent;
}

.btn-rounded:hover,
.btn-filled:hover {
    background-color: #0F6759;
}
